<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Cadastro_Clientes/src/dominio/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dominio.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Cadastro_Clientes"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cadastro_Clientes"/>
</launchConfiguration>
